.user-container {
    background-color: rgb(214, 214, 214);
    border-radius: 8px;
    height: 135px;
    margin: 0px 20px;
}

.user-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.user-container a:hover {
    color: blueviolet;
}